.details-modal{
    position:fixed;
    top: 10vh;
    right: 8%;
    left: 8%;
    width: 84%;
    height: 80vh;
    // z-index: ;
    border: 1px solid black;
    background-color: white;
    
    h1{
    }
}