.who-search-container{
    position: relative;
    width: 100%;
}

.details-who-search{
    position: absolute;
    z-index: 10;
    padding: 16px;
    margin: 0px 0px 16px;
    border: 1px solid rgba(0, 0, 0, 0.189);
    background-color: white;
    border-radius: 16px;

    .who-search-text{
        padding-top: 20px;
        h1{
            font-size: 16px;
            margin-bottom: 0px;
        }
        p{
            font-size: 14px;
        }
    }

    .part{
        width: 100%;
        margin-bottom: em(10px);
        align-items: center;
    }

    // @include for-mobile-layout {
    //     position: fixed !important;
    //     bottom: 80px !important;
    //     left: 0;
    //     right: 0;
    // }

    @media (max-width: calc($details-narrow-breakpoint )) {
        position: fixed !important;
        bottom: 80px !important;
        left: 0;
        right: 0;
    }

    @include for-narrow-layout{
        width: 100%;
        top: 0;
    }
}