.carousel__viewport {
    border-radius: rem(12px);
}

.slide {
    width: rem(250px);
}

.carousel__item {
    height: 100%;
    background-color: var(--vc-clr-primary);
    color: var(--vc-clr-white);
    font-size: rem(20px);
    border-radius: rem(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
   
    @include for-mobile-layout {
        min-width: rem(202px);
    }
    @include for-details-narrow-layout {
        min-width: rem(202px);
    }
    @include for-narrow-layout{
        min-width: rem(239.5px);
    }
    @include for-small-layout {
        min-width: rem(274.67px);
    }
    @include for-normal-layout {
        min-width: rem(244px);
    }
    @include for-wide-layout {
        min-width: rem(276.81px); 
    }
    @include for-extra-wide-layout {
        min-width: rem(267px); 
    }

   
}
button.add-to-wishlist {
    background-color: transparent;
    position: absolute;
    z-index: 2;
    top:2%;
    right:1%; 
}
 

.carousel__prev,
.carousel__next {
    box-sizing: content-box;
    border: rem(5px) solid white;
    width: rem(25px);
    height: rem(25px);
}

.carousel__item img{
    object-fit: cover;
    vertical-align: bottom;
    // width: 100%;
    // height: 100%;
    // border-radius: rem(20px);
    aspect-ratio: 1.05172414/1;
    border-radius: rem(10px);
   
    @include for-mobile-layout {
        min-width: rem(202px);
        min-height: rem(192px)
    }
    @include for-details-narrow-layout {
        min-width: rem(202px);
        min-height: rem(192px)
    }
    @include for-narrow-layout{
        min-width: rem(239.5px);
        min-height: rem(227.52px)
    }
    @include for-small-layout {
        min-width: rem(274.67px);
        min-height: rem(260.94px);
    }
    @include for-normal-layout {
        min-height: rem(232px);
        min-width: rem(244px);
    }
    @include for-wide-layout {
        min-width: rem(276.81px); 
        min-height: rem(262.96px);
    }
    @include for-extra-wide-layout {
        min-width: rem(267px); 
        min-height: rem(253.65px);
    }
}

.carousel__pagination {
    z-index: 1;
    top:87.3%;
    right: 42%;
    position: absolute;
    padding-inline-start: 0;
    @include for-mobile-layout {
       top: 90%;
    }
}
  
.carousel__pagination-button {
    border-radius: 50%;
}
 
section.carousel {
    height: 100%;
    @include for-mobile-layout {
        min-width: rem(202px);
    }
    @include for-details-narrow-layout {
        min-width: rem(202px);
    }
    @include for-narrow-layout{
        min-width: rem(239.5px);
    }
    @include for-small-layout {
        min-width: rem(274.67px);
    }
    @include for-normal-layout {
        min-width: rem(244px);
    }
    @include for-wide-layout {
        min-width: rem(276.81px); 
    }
    @include for-extra-wide-layout {
        min-width: rem(267px); 
    }
}

.carousel__pagination-button::after {
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    opacity: 50%;
}

button.carousel__pagination-button {
    padding: 2.2px;
}

.carousel__pagination-button:hover::after,
.carousel__pagination-button--active::after {
    background-color: #fffefe;
    opacity: 100%;
}

.carousel__next--disabled,
.carousel__prev--disabled {
    cursor: not-allowed;
    opacity: 0.0;
}


/* TODO not working yet */
/* li.carousel__pagination-item:last-of-type button::after{
  height: 4px;
  width: 4px;
  } */



  .navigate-imgs-carousel{
    border-radius: 50%;
    border: solid 1px #dddddd;
    z-index: 5;
    // background-color: (0,0,0,0.9);
    color: #222222 !important;
    stroke-width: 20px;


    background-color: white;
    // opacity: 0.9 !important
    // &[aria-label="Navigate to previous slide"]{
    //    margin-left: 0;
    // } 
    
    /* transform: translateX(0);
        transition: display .6s; */
}
.navigate-imgs-carousel:hover {
// opacity: 1 !important;
}
.navigate-imgs-carousel:hover{
    color: black;
}



.grey{
    fill: rgba(0, 0, 0, 0.5);
}
.red{
    fill: #ff385c;
}

.show {
    display: flex;
    transition: all 0.4s linear;
}

.hide {
    display: none;
    opacity: 0;
}