.stay-preview {
    font-family:Airbnb-Cereal-Book;
    width: 100%;
    height: 100%;
    cursor: pointer !important;
    p {
      font-size: rem(15px);
      width: 100%;
      text-decoration: none;
      height: fit-content;
      margin: 0%;

    }
    p.stay-name {
      font-family: Airbnb-Cereal-Medium;
      font-size: rem(15px);
      line-height: rem(18px);
      text-transform: capitalize; 
      color: #222222;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
      overflow: hidden;
      height: fit-content;
      padding-block-start: 1px;
      //
     margin: 0;

      // @include for-normal-layout {
      //   max-width: rem(220px);
      // }
      // @include for-wide-layout {
      //   max-width: rem(200px);
      // }
      // @include for-extra-wide-layout {
      //   max-width: rem(200px);
      // }
    }
    p span.price {
      font-family: Airbnb-Cereal-Medium;
      color: #222222;
    }
    .bottom {
        margin-top: rem(12px);
        // line-height: rem(12px);
        padding: 0;
        min-height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: repeat(2,18px) 18px;
        grid-column-gap: rem(3px);
        grid-row-gap: rem(2px);
        height: 88px;
      }
   
      .grid-item-1 {
          grid-column: 1/2;
          grid-row: 1/2;
          margin-block-start: 2px;
      }
      .grid-item-3 {
          grid-column: 2/3;
          grid-row: 1/2;
          flex-wrap: nowrap;
          justify-self: end;
          align-items: center;
      }
    
      .grid-item-2 {
          grid-column: 1/2;
          grid-row: 2/3;
          color: #717171;
      }

      p.grid-item-2  {
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
        height: fit-content;
        @media (max-width: 300px) {
          max-width: rem(190px);
        }
        // @include for-normal-layout {
        //   max-width: rem(220px);
        // }
        // @include for-wide-layout {
        //   max-width: rem(220px);
        // }
        // @include for-extra-wide-layout {
        //   max-width: rem(220px);
        // }
      }

      .grid-item-3 p {
        font-size: 15px;
        margin: 0px;
      }
      
      // .grid-item-6 {
      //     grid-column: 1/2;
      //     grid-row: 4/5;
      //     margin-block-start: 6px;
      //     line-height: 10px;
      // }
      .grid-item-4 {
          grid-column: 1/2;
          grid-row: 5/6;
          color: #222222;
          margin-block-start: 4px;
          align-self: center;
      }
      .grid-item-5 {
          grid-column: 1/2;
          grid-row: 3/4;
          line-height: 22px;
      }
      .grid-item-2, .grid-item-6, .grid-item-5 {
        font-family: Airbnb-Cereal-Thin;
        color: #717171;
      }
  //   @include for-small-layout {
  //     .bottom {
  //       margin-top: rem(11px);
  //   }
  // }
    @include for-normal-layout {
      .bottom {
        margin-top: rem(13px);
      } 
  }
}
.el-card {
  border: none !important ;
  overflow: hidden;
}

div.el-card.is-always-shadow {
  box-shadow: none;
}
// @include for-normal-layout {
//   grid-template-columns: repeat(4, 1fr);
//   grid-column-gap: 24px;
//   grid-row-gap: 40px;
//   justify-items: stretch;
//   .card{
//       width: 244px;
//       height: 332px;
//   }
// }        