.filter-modal{
    position: fixed;
    right: 10%;
    width: 80%;
    background-color:rgb(255 255 255);
    padding: 0 24px;
}

.filter-modal-header{
    top: 40px;
    height: 56px;
    z-index: 13;
    border-bottom: 1px solid rgb(232 226 226);  
    border-radius: 12px 12px 0 0;
    padding-left: 14px;
    >h1{
        text-align: center;
        margin: 0.3em 0 0.3em 0
    }
    >button{
        margin: 0;
        text-align: start;
        background-color:rgb(255 255 255);
        color: black;
        font-size: large;
        cursor: pointer;
    }
}

.filter-modal-footer{
    bottom: 40px;
    height: 40px;
    z-index: 13;
    border-top: 1px solid rgb(232 226 226);
    border-radius: 0 0 12px 12px;
}

.filter-modal-container{
    top: 96px;
    height: calc(100% - 156px);
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px !important;
    z-index: 12;
    overflow-y:scroll;
    >*{
        margin: 20px 0;
    }
    >:nth-child(1){

    }
}



.modal-full-screen{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #71717190;
    z-index: 11;
}

.price-filter{
    flex-wrap: nowrap;
}