@font-face {
    font-family: Airbnb-Cereal-Book;
    src: url(../../fonts/AirbnbCereal/Airbnb-Cereal-Book.ttf);
}

@font-face {
    font-family: Airbnb-Cereal-Bold;
    src: url(../../fonts/AirbnbCereal/Airbnb-Cereal-Bold.ttf);
}

@font-face {
    font-family: Airbnb-Cereal-Medium;
    src: url(../../fonts/AirbnbCereal/Airbnb-Cereal-Medium.ttf);
}
@font-face {
    font-family: Airbnb-Cereal-Thin;
    src: url(../../fonts/AirbnbCereal/AirbnbCereal_W_Lt.otf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}
// @font-face {
//     font-family: Airbnb_Cereal-Medium;
//     src: url(~@/assets/fonts/Bahnschrift/bahnschrift.ttf);
// }